<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>


<h1 th:text="#{greeting}"></h1>

<table>
    <tr>
        <th th:text="#{lang.first_name}"></th>
        <th th:text="#{lang.last_name}"></th>
        <th th:text="#{lang.admission_date}"></th>
        <th th:text="#{lang.clinic}"></th>
    </tr>
    <tr th:each="patient: ${patients}">
        <td th:text="${patient.getFirstName()}"></td>
        <td th:text="${patient.getLastName()}"></td>
        <td th:text="${patient.getAdmissionDate()}"></td>
        <td th:text="${patient.getClinic().getName()}"></td>
    </tr>
</table>

<span th:text="#{lang.change}"></span>
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="ru" th:text="#{lang.ru}"></option>
</select>

<form th:action="@{/logout}" method="post">
    <input type="submit" th:text="#{lang.logout}"/>
</form>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>